.header-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(100%);
  z-index: 5;
  background: $color-white;
  transition: transform 0.5s;

  &:target {
    transform: translateX(0);
  }

  &__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 12px;
    right: 24px;
    cursor: pointer;
  }

  &__nav {
    padding: 20px;
    width: 100%;
  }

  &__nav-list {
    width: 100%;
    min-height: 60vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__nav-item {
    margin: 20px;
  }

  &__nav-link {
    text-decoration: none;
    color: $color-gray;
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
  }
}
